body {
    background-color: #eee;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#contents {
    width: 800px;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

#contents h1 {
    margin: 0 0 1em 0;
    font-size: 24pt;
    font-weight: bold;
}

#columns {
}

#footer {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    font-size: 80%;
    color: #ccc;
}

#column-1-of-3 {
    width: 250px;
    float: left;
    background-color: #f5f5ff;
    min-height: 10px;
}

#column-2-of-3 {
    width: 250px;
    float: left;
    background-color: #f5f5ff;
    margin-left: 25px;
    min-height: 10px;
}

#column-3-of-3 {
    width: 250px;
    float: left;
    background-color: #f5f5ff;
    margin-left: 25px;
    min-height: 10px;
}

.module {
    background-color: #fff;
    border: 1px solid #3B5998;
    margin-bottom: 1em;
}

.module-bar {
    background-color: #3B5998;
    color: #fff;
    padding: 2px;
}

.module-inner {
    padding: 0.6em;
}
