<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="contents">
        <div id="column-1" style="width: 300px; float: left; background-color: pink">
        foo
            {% block column-1 %}{% endblock %}
        </div>
        <div id="column-2" style="width: 200px; float: left; background-color: lime">
        foo
            {% block column-2 %}{% endblock %}
        </div>
        <div id="column-3" style="width: 200px; float: left; background-color: pink">
        foo
            {% block column-3 %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        made by Mittens
    </div>
</body>
</html>