<div id="columns">
    <div id="column-1-of-3" class="column">
    {% for module in request.site.modules.all %}
        {% ifequal module.in_column 1 %}
            {% include 'module.html' %}
        {% endifequal %}
    {% endfor %}
    </div>
    <div id="column-2-of-3" class="column">
    {% for module in request.site.modules.all %}
        {% ifequal module.in_column 2 %}
            {% include 'module.html' %}
        {% endifequal %}
    {% endfor %}
    </div>
    <div id="column-3-of-3" class="column">
    {% for module in request.site.modules.all %}
        {% ifequal module.in_column 3 %}
            {% include 'module.html' %}
        {% endifequal %}
    {% endfor %}
    </div>
	<div style="clear: both"></div>
</div>