{% extends "base.html" %}
{% block title %}{{ request.site.name }}{% endblock %}

{% block column-1 %}

{{ request.site.subdomain }}
{% for module in request.site.modules.all %}
{% ifequal module.in_column 1 %}
    {{ module.module.render }} <br />
{% endifequal %}
{% endfor %}

{% endblock %}

{% block column-2 %}

{{ request.site.subdomain }}
{% for module in request.site.modules.all %}
{% ifequal module.in_column 2 %}
    {{ module.module.render }} <br />
{% endifequal %}
{% endfor %}

{% endblock %}