{% extends "base.html" %}
{% block title %}{{ request.site.name }}{% endblock %}


{% block contents %}

        <div id="column-1" style="width: 300px; float: left; background-color: pink">
        foo

{{ request.site.subdomain }}
{% for module in request.site.modules.all %}
{% ifequal module.in_column 1 %}
    {{ module.module.render }} <br />
{% endifequal %}
{% endfor %}

        </div>
        <div id="column-2" style="width: 200px; float: left; background-color: lime">
        foo

{{ request.site.subdomain }}
{% for module in request.site.modules.all %}
{% ifequal module.in_column 2 %}
    {{ module.module.render }} <br />
{% endifequal %}
{% endfor %}

        </div>
        <div id="column-3" style="width: 200px; float: left; background-color: pink">
        foo

		nothing to see here!

        </div>

{% endblock %}